/* cover-section start */
.cover {
  background: url("../img/Layer4-blog.png") no-repeat center center/cover;
  height: 174px;
  h1 {
    font-size: 42px;
    color: $color3;
    line-height: 174px;
    font-weight: 600;
    text-align: center;
  }
}
/* blog-right section start */
.blog-right {
  .search-box {
    margin-top: 20px;
    position: relative;
    &::before {
      content: "\f002";
      font-family: "FontAwesome";
      position: absolute;
      right: 16px;
      line-height: 50px;
      color: rgb(186, 186, 186);
      font-size: 18px;
    }
  }
  & input,
  & input[type="email"] {
    height: 45px;
    outline: none;
    border: 1px solid rgb(233, 233, 233);
    padding-left: 17px;
  }
  & input[placeholder],
  input[type="email"] {
    font-size: 14px;
    color: black;
    font-weight: 600;
  }
  .title {
    @include title;
  }
  .blog-form-social {
    margin-top: 62px;
    & ul {
      margin-top: 32px;
      margin-bottom: 48px;
      li {
        display: inline-block;
        margin-right: 15px;
        a {
          display: block;
          border-radius: 50%;
          @include social(42px);
          i {
            color: white;
            font-size: 20px;
          }
          &:hover {
            transform: translate(0, -5px);
          }
        }
        & .social-fb {
          background-color: $colorFace;
        }
        & .social-tw {
          background-color: $colorTwit;
        }
        & .social-gl {
          background-color: $socialGoogle;
        }
      }
    }
  }
  .blog-btn {
    margin-top: 30px;
    margin-bottom: 54px;
    background-color: $color1;
    padding: 12px 48px;
    font-size: 16px;
    border-radius: 3px;
    color: white;
    @extend %transition;
    &:hover {
      background-color: $color2;
    }
  }
  .blog-categories ul {
    margin-top: 20px;
    margin-bottom: 47px;
    & li a {
      font-size: 13px;
      color: $color2;
      line-height: 2.769;
      display: inline-block;
    }
    & li a::before {
      content: "\f105";
      font-family: "FontAwesome";
      font-size: 16px;
      line-height: 1.5;
      color: $color1;
      margin-right: 20px;
    }
    & li a:hover {
      background-color: rgb(72, 84, 96);
      border-radius: 3px;
      margin-left: 5px;
      color: white;
      @extend %transition;
      padding: 0 7px;
    }
    & li:hover a {
      color: white;
    }
  }
  .blog-post {
    &-img {
      overflow: hidden;
      height: 231px;
      width: 263px;
      margin-top: 30px;
      margin-bottom: 32px;
      & img {
        @include coverImage();
      }
    }
    & p {
      font-size: 13px;
      color: $color4;
      line-height: 1.692;
      font-weight: 600;
      margin-bottom: 25px;
    }
    .blog-date {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 53px;
      & span,
      & a {
        font-size: 14px;
        line-height: 1.714;
        color: rgb(65, 74, 90);
        @extend %transition;
        &:hover {
          color: rgb(168, 143, 216);
        }
      }
    }
    &-recent ul {
      margin-top: 18px;
      margin-bottom: 48px;
      li {
        font-size: 14px;
        color: $color7;
        line-height: 2.571;
        margin-left: 8px;
        display: flex;
        align-items: center;
        &::before {
          content: "";
          display: block;
          @include list(6px);
          margin-right: 20px;
        }
      }
    }
    & .blog-tag-list {
      margin-top: 30px;
      a {
        display: inline-block;
        font-size: 14px;
        color: rgb(65, 74, 90);
        line-height: 2.571;
        padding: 0px 18px;
        background-color: $color10;
        @extend %transition;
        border-radius: 3px;
        margin-bottom: 14px;
        margin-right: 1.5px;
        &:hover {
          background-color: $color1;
          color: white;
        }
      }
      & .active {
        background-color: $color1;
        color: white;
      }
    }
  }
}
/* pagination section start */
.pagination {
  padding-bottom: 88px;
  &-list {
    padding-left: 93px;
    & li {
      display: inline-block;
    }
    & li:first-child {
      margin-right: 55px;
    }
    & li:last-child {
      margin-left: 70px;
    }
    & li:nth-child(8) {
      margin-right: 15px;
    }
    & li a {
      display: block;
      margin-right: 15px;
      @extend %transition;
      @include pagination(49px);
      &:hover {
        background-color: $color4;
        color: white;
      }
    }
  }
}

// Responsive----------------------

@media only screen and (max-width: 1199px) {
  .blog-right {
    min-width: 220px;
    .title {
      font-size: 24px;
    }
    .blog-categories ul li a {
      font-size: 12px;
      line-height: 1.5;
      &::before {
        font-size: 15px;
        margin-right: 10px;
      }
    }
    .blog-post {
      &-img {
        width: 220px;
        height: 185px;
      }
      &-recent ul li {
        font-size: 13px;
        margin-left: 2px;
        &::before {
          margin-right: 15px;
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .blog-right {
    .blog-form {
      margin-top: 35px;
      input[placeholder],
      input[type="email"] {
        font-size: 13px;
        height: 40px;
      }
      .search-box::before {
        font-size: 14px;
        line-height: 42px;
      }
      &-social {
        margin-top: 40px;
        ul {
          margin-top: 15px;
          margin-bottom: 35px;
          li {
            margin-right: 5px;
            a {
              @include square2(34px);
              i {
                font-size: 16px;
              }
            }
          }
        }
        .blog-btn {
          padding: 10px 36px;
          font-size: 15px;
          margin-bottom: 35px;
        }
      }
    }
    .title {
      font-size: 22px;
    }
    .blog-categories ul {
      margin-top: 15px;
      margin-bottom: 20px;
      li a {
        font-size: 12px;
        line-height: 1.5;
        &::before {
          font-size: 15px;
          margin-right: 10px;
        }
      }
    }
    .blog-post {
      &-img {
        margin: 15px 0;
      }
      p {
        font-size: 12px;
        margin-bottom: 10px;
      }
      .blog-date {
        margin-bottom: 20px;
        span {
          font-size: 13px;
        }
      }
      &-recent ul {
        margin-top: 10px;
        margin-bottom: 20px;
        li {
          font-size: 12px;
          line-height: 2;
          &::before {
            @include square(5px);
            margin-right: 10px;
          }
        }
      }
      .blog-tag-list {
        margin-top: 20px;
        a {
          font-size: 13px;
        }
      }
    }
  }
  .pagination {
    &-list {
      padding-left: 80px;
      li {
        a {
          margin-right: 5px;
          @include square2(40px);
          font-size: 20px;
        }
        &:first-child {
          margin-right:30px;
        }
        &:last-child {
          margin-left: 30px;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .cover h1 {
    font-size: 40px;
  }
  .blog-right {
    .blog-form {
      &-social {
        margin-top: 25px;
        ul {
          margin-top: 10px;
          margin-bottom: 25px;
          li {
            margin-right: 5px;
            a {
              @include square2(30px);
              i {
                font-size: 14px;
              }
            }
          }
        }
        .blog-btn {
          padding: 10px 25px;
          font-size: 15px;
          margin-bottom: 25px;
        }
      }
    }
    .blog-categories ul {
      margin-top: 10px;
    }
    .blog-post {
      .blog-date {
        margin-bottom: 15px;
      }
      &-recent ul {
        margin-top: 6px;
        margin-bottom: 15px;
      }
      .blog-tag-list {
        margin-top: 15px;
      }
    }
  }
  .pagination {
    &-list {
      padding-left: 0px;
      li {
        a {
          margin-right: 5px;
          @include square2(35px);
          font-size: 14px;
        }
        &:first-child {
          margin-right: 10px;
        }
        &:last-child {
          margin-left: 10px;
        }
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .cover h1 {
    font-size: 35px;
  }
  .blog-right {
    .blog-form-social {
      ul li a {
        @include square2(26px);
        i {
          font-size: 12px;
        }
      }
    }
  }
  .pagination {
    &-list {
      overflow-x: scroll;
      li {
        *{
          overflow-x:auto;
        }
        a {
          margin-right: 5px;
          @include square2(30px);
          font-size: 16px;
        }
        &:first-child {
          margin-right: 5px;
        }
        &:last-child {
          margin-left: 5px;
        }
      }
    }
  }
}
@media only screen and (max-width: 400px) {
  .blog-right {
    .search-box {
      max-width: 200px;
    }
    .blog-form-social {
      form {
        margin-top: 0;
      }
      ul {
        margin-bottom: 0;
      }
      input {
        max-width: 200px;
      }
      .blog-btn {
        padding: 10px 12px;
        font-size: 13px;
      }
    }
  }
}
