/* cover-section start */
.cover {
   background: url('../img/Layer4-blog.png') no-repeat center center/cover;
  height: 174px;
  h1 {
    font-size: 42px;
    color: $color3;
    line-height: 174px;
    font-weight: 600;
    text-align: center;
  }
}
/* blog-right section start */
.blog-right {
  .search-box {
    margin-top: 20px;
  }
  & input,
  & input[type="email"] {
    height: 45px;
    outline: none;
    border: 1px solid rgb(233, 233, 233);
    padding-left: 17px;
  }
  &::before {
    content: "\f002";
    font-family: "FontAwesome";
    position: absolute;
    right: 35px;
    line-height: 50px;
    color: rgb(186, 186, 186);
    font-size: 18px;
  }
  & input[placeholder],
  input[type="email"] {
    font-size: 14px;
    color: black;
    font-weight: 600;
  }
  .title {
    @include title;
  }
  .blog-form-social {
    margin-top: 62px;
    & ul {
      margin-top: 32px;
      margin-bottom: 48px;
      li {
        display: inline-block;
        margin-right: 15px;
        a {
          display: block;
          border-radius: 50%;
          @include social(42px);
          i {
            color: white;
            font-size: 20px;
          }
          &:hover {
            transform: translate(0, -5px);
          }
        }
        & .social-fb{
          background-color: $colorFace;
        }
        & .social-tw {
          background-color: $colorTwit;
        }
        & .social-gl {
          background-color: $socialGoogle;
        }
      }
    }
  }
  .blog-btn {
    margin-top: 30px;
    margin-bottom: 54px;
    background-color: $color1;
    padding: 12px 48px;
    font-size: 16px;
    border-radius: 3px;
    color: white;
    @extend %transition;
    &:hover {
      background-color: $color2;
    }
  }
  .blog-categories ul {
    margin-top: 20px;
    margin-bottom: 47px;
    & li a {
      font-size: 13px;
      color: $color2;
      line-height: 2.769;
    }
    & li a::before {
      content: "\f105";
      font-family: "FontAwesome";
      font-size: 16px;
      line-height: 1.5;
      color: $color1;
      margin-right: 20px;
    }
    & li:hover {
      background-color: rgb(72, 84, 96);
      border-radius: 3px;
      margin-left: 5px;
      color: white;
      @extend %transition;
    }
    & li:hover a {
      color: white;
      margin-left: 15px;
    }
  }
  .blog-post {
    &-img {
      overflow: hidden;
      height: 231px;
      width: 263px;
      margin-top: 30px;
      margin-bottom: 32px;
      & img {
        @include coverImage();
      }
    }
    & p {
      font-size: 13px;
      color: $color4;
      line-height: 1.692;
      font-weight: 600;
      margin-bottom: 25px;
    }
    .blog-date {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 53px;
      & span,
      & a {
        font-size: 14px;
        line-height: 1.714;
        color: rgb(65, 74, 90);
        @extend %transition;
        &:hover {
          color: rgb(168, 143, 216);
        }
      }
    }
    &-recent ul {
      margin-top: 18px;
      margin-bottom: 48px;
      li {
        font-size: 14px;
        color: $color7;
        line-height: 2.571;
        margin-left: 8px;
        display: flex;
        align-items: center;
        &::before {
          content: "";
          display: block;
          @include list(6px);
          margin-right: 20px;
        }
      }
    }
    & .blog-tag-list {
      margin-top: 30px;
      a {
        display: inline-block;
        font-size: 14px;
        color: rgb(65, 74, 90);
        line-height: 2.571;
        padding: 0px 18px;
        background-color: $color10;
        @extend %transition;
        border-radius: 3px;
        margin-bottom: 14px;
        margin-right: 1.5px;
        &:hover {
          background-color: $color1;
          color: white;
        }
      }
      & .active {
        background-color: $color1;
        color: white;
      }
    }
  }
}
/* pagination section start */
.pagination {
  padding-bottom: 88px;
  &-list {
    padding-left: 93px;
    & li {
      display: inline-block;
    }
    & li:first-child {
      margin-right: 55px;
    }
    & li:last-child {
      margin-left: 70px;
    }
    & li:nth-child(8) {
      margin-right: 15px;
    }
    & li a {
      display: block;
      margin-right: 15px;
      @extend %transition;
      @include pagination(49px);
      &:hover {
        background-color: $color4;
        color: white;
      }
    }
  }
}
