//SLIDER
body {
    font-family: "OpenSans";
    font-weight: 400;
}

.slider {
    position: relative;
    height: 566px;
    &-list {
        width: 100%;
        height: 100%;
        overflow: hidden;
        &__item {
            width: 100%;
            img {
                height: 100%;
                object-fit: cover;
                transition: 3s;
                transform: scale(1.5);
            }
            &.slick-active img {
                transform: scale(1);
            }
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $color1;
            opacity: 0.4;
            z-index: 1;
        }
    }
    &-content {
        @include absolute($top: 130px, $right: 0, $bottom: 0, $left: 0);
        z-index: 2;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            font-size: 63px;
            font-weight: 600;
            color: rgb(255, 255, 255);
            text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.16);
            animation-name: moveDown;
            animation-duration: 1.5s;
        }
        span {
            width: 380px;
            font-size: 23px;
            text-align: center;
            color: rgb(255, 255, 255);
            line-height: 1.609;
            margin: 20px 0 55px;
            animation-name: moveDown;
            animation-duration: 1s;
        }
        a {
            color: #fff;
            padding: 20px 40px;
            border: 3px solid #fff;
            border-radius: 5px;
            background: transparent;
            font-size: 26px;
            line-height: 0.923;
            animation-name: moveUp;
            animation-duration: 1s;
            &:hover {
                box-shadow: 0 0 10px 0 #fff inset, 0 0 10px 4px #fff;
                transition: 0.2s;
            }
        }
    }
    &-arrow__left {
        position: absolute;
        z-index: 2;
        left: 20px;
        top: 45%;
        @include square(53px);
        background: url("../img/left-arrow.png") no-repeat center center;
    }
    &-arrow__right {
        position: absolute;
        z-index: 2;
        right: 20px;
        top: 45%;
        @include square(53px);
        background: url("../img/right-arrow.png") no-repeat center center;
    }
}

//SERVICE
.services {
    padding: 91px 0;
    i {
        font-size: 40px;
        text-align: center;
        @include square(105px);
        border: 3px solid $color1;
        border-radius: 50%;
        color: rgb(73, 203, 205);
        padding: 30px;
        margin-bottom: 50px;
    }
    a {
        font-size: 14px;
        font-family: "OpenSans";
        color: #fff;
        line-height: 1.857;
        text-align: center;
        padding: 3px 15px;
        background: $color1;
        border-radius: 4px;
        border: 3px solid transparent;
        transition: 0.3s;
        &:hover {
            color: $color1;
            border: 3px solid $color1;
            background-color: #fff;
        }
    }
}

.portfolio {
    background: $color3;
    display: flex;
    text-align: center;
    padding: 0 0 100px;
    &-item {
        display: block;
        border-radius: 2px;
        overflow: hidden;
        height: 315px;
        margin-bottom: 30px;
        img {
            transition: 0.4s;
            object-fit: cover;
            &:hover {
                transform: scale(1.05);
            }
        }
    }
    .portfolio-link {
        font-size: 24px;
        color: #fff;
        line-height: 1.147;
        text-align: center;
        padding: 16px 40px;
        background: $color1;
        border-radius: 4px;
        border: 3px solid transparent;
        transition: 0.3s;
        display: inline-block;
        margin-top: 30px;
        &:hover {
            color: $color1;
            border: 3px solid $color1;
            background-color: #fff;
        }
    }
}

.team {
    padding: 33px 0 83px;
    a {
        margin: 80px 0 68px;
        position: relative;
        @include square(201px);
        border-radius: 50%;
        display: inline-block;
        overflow: hidden;
        cursor: pointer;
        transition: 0.3s;
        img {
            object-fit: cover;
            transition: 0.3s;
        }
        &:hover span {
            transform: translateY(120px);
            transition: 0.4s;
        }
        &:hover img {
            transform: scale(1.05);
            opacity: 0.3;
        }
        span {
            position: absolute;
            top: -70px;
            left: 39%;
            font-size: 85px;
            color: rgb(244, 109, 109);
            font-weight: 600;
        }
    }
}

.tariffs {
    padding: 120px 0 100px;
    background: $color3;
    &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-radius: 2px;
        overflow: hidden;
        transition: 0.2s;
        li {
            width: 100%;
            font-size: 14px;
            color: rgb(140, 146, 153);
            line-height: 3.22;
            background-color: #fff;
            border-bottom: 1px solid $color3;
        }
        li:first-of-type {
            background-color: $color4;
            padding: 14px 0;
            text-align: center;
            h2 {
                font-size: 26px;
                color: #fff;
                line-height: 1.846;
            }
        }
        li:nth-of-type(2) {
            font-size: 20px;
            color: rgb(72, 84, 96);
            line-height: 2.4;
            background-color: #f8f9fb;
            padding: 11px 0;
        }
        li:last-of-type {
            line-height: 1;
            padding: 30px 0;
            background-color: #f8f9fb;
            button {
                font-size: 17px;
                font-weight: 600;
                color: rgb(255, 255, 255);
                background-color: #788492;
                padding: 9px 50px 12px;
                border-radius: 3px;
            }
        }
        &:hover li:first-of-type {
            background-color: $color1;
            transition: 0.2s;
        }
        &:hover li:last-of-type button {
            background-color: $color1;
            transition: 0.2s;
        }
        &:hover {
            transition: 0.2s;
            box-shadow: 0 2px 30px rgb(0 0 0 / 20%);
            transform: scale(1.02);
        }
    }
}

.clients {
    padding: 90px 0;
    position: relative;
    &-comment {
        width: 90%;
        margin: 0 auto;
        &__item {
            text-align: center;
            &-text {
                font-size: 19px;
                color: rgb(78, 82, 93);
                line-height: 1.579;
                width: 650px;
                margin: 0 auto;
            }
            &-name {
                display: block;
                font-size: 21px;
                color: #9a8faf;
                margin-top: 31px;
                line-height: 1.15;
            }
        }
    }
    &-arrow__left {
        position: absolute;
        z-index: 2;
        left: 177px;
        top: 57%;
        @include square(53px);
        background: url("../img/client-left-arrow.png") no-repeat center center;
    }
    &-arrow__right {
        position: absolute;
        z-index: 2;
        right: 177px;
        top: 57%;
        @include square(53px);
        background: url("../img/client-right-arrow.png") no-repeat center center;
    }
}

// component scss-------------

.section-item {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    &__name {
        font-size: 22px;
        color: $color4;
        line-height: 1.091;
    }
    &__position {
        font-size: 14px;
        color: $color4;
        line-height: 1.091;
        text-align: center;
        margin: 5px 0 5px;
    }
    &__text {
        font-size: 14px;
        color: $color4;
        line-height: 1.857;
        margin: 20px 0 20px;
    }
}

.section-title {
    font-size: 42px;
    color: $color4;
    text-align: center;
    display: block;
    padding: 50px 0;
}

// animation----------------

@keyframes moveUp {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveDown {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

//   ------------------------------
