.blog-item__content {
  .inner-title {
    margin-bottom: 10px;
  }
  .inner-social {
    margin-top: 0;
    margin-bottom: 32px;
  }
}
.blog-inner__content {
  margin-top: 27px;
  & p {
    font-size: 13px;
    line-height: 1.846;
    color: $color2;
    text-align: justify;
    font-weight: 600;
    &:nth-child(2) {
      margin-top: 25px;
      margin-bottom: 32px;
    }
    &:nth-child(7) {
      margin-top: 24px;
      margin-bottom: 78px;
    }
  }
  & h3 {
    font-size: 24px;
    line-height: 1.667;
    color: $color7;
    margin-bottom: 15px;
  }
  &__img {
    height: 199px;
    overflow: hidden;
    border-radius: 3px;
    margin-top: 32px;
    margin-bottom: 38px;
    & img {
      @include coverImage;
    }
  }
  & blockquote {
    font-size: 18px;
    font-family: "Cambria";
    font-style: italic;
    line-height: 1.5;
    color: #545b69;
    position: relative;
    padding-left: 38px;
    &::before {
      content: "\f10d";
      font-family: "FontAwesome";
      font-size: 20px;
      position: absolute;
      top: -18px;
      left: 0;
    }
    & + p {
      text-align: right;
      font-size: 14px;
      margin-top: 12px;
    }
  }
}
.blog-inner__share {
  padding-top: 94px;
  & fieldset {
    padding-top: 34px;
    padding-bottom: 34px;
    border: 1px groove #ddd;
    & legend {
      text-align: center;
      font-size: 23px;
      color: $color7;
      width: auto;
      padding: 0px 34px;
    }
    & ul {
      @include flex-center;
      & li {
        display: inline-block;
      }
      & li:first-child {
        margin-right: 10px;
      }
      & li:nth-child(2) {
        font-size: 14px;
      }
      & li:nth-child(3) {
        margin-left: 32px;
        margin-right: 10px;
      }
      & li:nth-child(4) {
        font-size: 14px;
      }
    }
  }
}
.inner-post {
  &__pagination {
    margin-top: 55px;
    margin-bottom: 52px;
    @include flex-js-between;
    & .previous:before {
      font-family: "FontAwesome";
      content: "\f104";
      margin-right: 13px;
      @include pagination-post(49px);
    }
    & .previous,
    & .next {
      color: $color7;
      font-size: 20px;
      &:hover {
        color: $color5;
      }
    }
    & .next:after {
      font-family: "FontAwesome";
      content: "\f105";
      margin-left: 13px;
      @include pagination-post(49px);
    }
    & .previous:hover::before {
      background-color: $color4;
      color: white;
    }
    & .next:hover::after {
      background-color: $color4;
      color: white;
    }
  }
  &__recent {
    & li {
      font-size: 14px;
      color: $color7;
      line-height: 2.571;
      margin-left: 8px;
      display: flex;
      align-items: center;
      &::before {
        content: "";
        display: block;
        @include list(6px);
        margin-right: 20px;
      }
    }
  }
}
.blog-comment {
  & h2 {
    margin-top: 37px;
    margin-bottom: 35px;
  }
  &__content {
    @include flex-js-between;
    border-top: 1px solid $color11;
    padding-top: 24px;
    padding-bottom: 37px;
    &.reply {
      padding-left: 114px;
      margin-top: 40px;
    }
    & .profile-img {
      overflow: hidden;
      border-radius: 50%;
      @include square(93px);
      & img {
        @include coverImage;
      }
    }
    & .user-name {
      width: calc(100% - 93px);
      padding-left: 30px;
      & strong {
        display: inline-block;
        font-size: 14px;
        color: $color7;
        line-height: 2.571;
        margin-bottom: 7px;
        margin-right: 14px;
      }
      & a {
        font-size: 14px;
        color: $color8;
      }
      & p {
        font-size: 14px;
        color: $color4;
        line-height: 1.714;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
    }
  }
}
.blog-inner__form {
  margin-top: 70px;
  margin-bottom: 34px;
  & h2 {
    margin-bottom: 15px;
  }
  & input[type="text"],
  [type="email"] {
    height: 47px;
    @include inner-form;
    margin-bottom: 25px;
    &:focus {
      border: 1px solid #a88fd8;
      box-shadow: 0px 0px 5px 0px #a88fd8;
    }
  }
  & textarea {
    outline: none;
    padding-left: 20px;
    padding-top: 26px;
    height: 218px;
    width: 100%;
    resize: none;
    margin-bottom: 31px;
    border-radius: 3px;
    border: 1px solid $color11;
    &:focus {
      border: 1px solid #a88fd8;
      box-shadow: 0px 0px 5px 0px #a88fd8;
    }
  }
  & input[type="checkbox"] {
    @include square(33px);
    border: 1px solid #ebebeb;
    margin-right: 15px;
    @include flex-center;
    @extend%transition;
    border-radius: 3px;
    outline: none;
    &::before {
      content: "\f00c";
      font-family: "FontAwesome";
      font-size: 18px;
      color: white;
      display: none;
    }
    &:checked {
      background-color: #0075ff;
    }
    &:checked::before {
      display: block;
    }
  }
  & label {
    font-size: 14px;
    line-height: 2.571;
    color: $color4;
    user-select: none;
  }
  & button {
    float: right;
    @include inner-button;
    @extend %transition;
    &:hover {
      background-color: $color2;
    }
  }
  & .elem-flex {
    @include flex-ai-center();
  }
}

// Responsive----------------------

@media only screen and (max-width: 1199px) {
  .blog-section {
    .blog-item {
      &__content {
        .inner-title {
          margin-bottom: 14px;
        }
        .inner-social {
          margin-top: 0;
          margin-bottom: 26px;
        }
        .blog-inner__content {
          margin-top: 20px;
          p:nth-child(2) {
            margin: 18px 0;
          }
          h3 {
            font-size: 20px;
          }
          &__img {
            margin-bottom: 30px;
          }
        }
        .blog-inner__share {
          padding-top: 60px;
        }
        .inner-post {
          &__pagination {
            margin-bottom: 45px;
            a {
              font-size: 19px;
            }
            .previous::before,
            .next::after {
              @include square2(45px);
              font-size: 22px;
            }
          }
        }
        .blog-comment {
          margin-top: 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .blog-section {
    .blog-item {
      &__content {
        .inner-social {
          margin-bottom: 20px;
        }
        .blog-inner__content {
          margin-top: 10px;
          p {
            font-size: 12px;
            line-height: 1.4;
            &:nth-child(2) {
              margin: 10px 0;
            }
            &:nth-child(7) {
              margin-top: 13px;
              margin-bottom: 40px;
            }
          }
          h3 {
            font-size: 18px;
            line-height: 1.5;
            margin-bottom: 10px;
          }
          &__img {
            margin: 20px 0;
            height: 100px;
          }
          blockquote {
            font-size: 16px;
            line-height: 1.4;
            padding-left: 25px;
            &::before {
              font-size: 16px;
            }
            + p {
              margin-top: 7px;
            }
          }
        }
        .blog-inner__share {
          padding-top: 35px;
          fieldset {
            padding: 25px 0;
          }
          legend {
            font-size: 20px;
            padding: 0 30px;
          }
          ul li {
            font-size: 13px;
          }
        }
        .inner-post {
          &__pagination {
            margin: 30px 0;
            a {
              font-size: 18px;
            }
            .previous::before {
              margin-right: 6px;
              font-size: 22px;
              @include square2(40px);
            }
            .next::after {
              margin-left: 6px;
              font-size: 22px;
              @include square2(40px);
            }
          }
          .title {
            font-size: 18px;
          }
          &__recent li {
            font-size: 13px;
            line-height: 1.6;
            &::before {
              margin-right: 15px;
            }
          }
        }
        .blog-comment {
          .title {
            font-size: 18px;
          }
          &__content {
            padding-bottom: 10px;
            .profile-img {
              @include square(80px);
            }
            .user-name {
              padding-left: 10px;
            }
            strong {
              font-size: 13px;
              line-height: 1.4;
              margin-right: 10px;
            }
            a {
              font-size: 13px;
            }
            p {
              font-size: 13px;
              line-height: 1.3;
            }
          }
          .reply {
            padding-left: 50px;
            margin-top: 20px;
          }
        }
        .blog-inner__form {
          margin-top: 20px;
          margin-bottom: 10px;
          .title {
            font-size: 18px;
          }
          form {
            margin-top: 15px;
          }
          input[type="email"],
          input[type="text"] {
            height: 35px;
            margin-bottom: 20px;
            font-size: 13px;
          }
          textarea {
            padding-left: 15px;
            padding-top: 10px;
            height: 145px;
            margin-bottom: 15px;
          }
          input[type="checkbox"] {
            @include square(20px);
            margin-right: 8px;
            &::before {
              font-size: 13px;
            }
          }
          label {
            font-size: 12px;
            line-height: 1.4;
          }
          button {
            font-size: 14px;
            line-height: 1.5;
            padding: 4px 40px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .blog-section {
    .blog-item {
      &__content {
        .inner-social {
          margin-bottom: 15px;
        }
        .blog-inner__content {
          margin-top: 8px;
          p {
            font-size: 12px;
            line-height: 1.4;
            &:nth-child(2) {
              margin: 7px 0;
            }
            &:nth-child(7) {
              margin-top: 7px;
              margin-bottom: 30px;
            }
          }
          h3 {
            font-size: 15px;
            line-height: 1.4;
            margin-bottom: 6px;
          }
          &__img {
            margin: 10px 0;
            height: 100px;
          }
          blockquote {
            font-size: 15px;
            line-height: 1.4;
            padding-left: 24px;
            &::before {
              font-size: 14px;
            }
            + p {
              margin-top: 7px;
            }
          }
        }
        .blog-inner__share {
          padding-top: 20px;
          fieldset {
            padding: 20px 0;
          }
          legend {
            font-size: 18px;
            padding: 0 30px;
          }
          ul li {
            font-size: 12px;
          }
        }
        .inner-post {
          &__pagination {
            margin: 20px 0;
            a {
              font-size: 16px;
            }
            .previous::before {
              margin-right: 6px;
              font-size: 18px;
              @include square2(35px);
            }
            .next::after {
              margin-left: 6px;
              font-size: 18px;
              @include square2(35px);
            }
          }
          .title {
            font-size: 16px;
          }
          &__recent li {
            font-size: 13px;
            line-height: 1.6;
            &::before {
              margin-right: 7px;
              @include square(5px);
            }
          }
        }
        .blog-comment {
          .title {
            font-size: 16px;
            margin-top: 12px;
          }
          &__content {
            padding-bottom: 10px;
            .profile-img {
              @include square(70px);
            }
            .user-name {
              padding-left: 0px;
            }
            strong {
              font-size: 12px;
              line-height: 1;
            }
            a {
              font-size: 12px;
            }
            p {
              font-size: 12px;
              line-height: 1.3;
            }
          }
          .reply {
            padding-left: 40px;
            margin-top: 20px;
          }
        }
        .blog-inner__form {
          .title {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .blog-section {
    .blog-item {
      &__content {
        &__img {
          margin-bottom: 10px;
        }
        .inner-social {
          margin-bottom: 20px;
        }
        .blog-inner__content {
          margin-top: 5px;
          p {
            font-size: 12px;
            line-height: 1.4;
            &:nth-child(2) {
              margin: 5px 0;
            }
            &:nth-child(7) {
              margin-top: 5px;
              margin-bottom: 40px;
            }
          }
          h3 {
            font-size: 15px;
            line-height: 1.5;
            margin-bottom: 5px;
          }
          &__img {
            margin: 10px 0;
            height: 100px;
          }
          blockquote {
            font-size: 13px;
            line-height: 1.4;
            padding-left: 15px;
            &::before {
              font-size: 12px;
            }
            + p {
              margin-top: 5px;
              font-size: 11px;
            }
          }
        }
        .blog-inner__share {
          padding-top: 30px;
          fieldset {
            padding: 25px 0;
          }
          legend {
            font-size: 16px;
            padding: 0 15px;
          }
          ul li {
            font-size: 12px;
          }
        }
        .inner-post {
          &__pagination {
            margin: 15px 0;
            a {
              font-size: 14px;
            }
            .previous::before {
              margin-right: 6px;
              font-size: 16px;
              @include square2(30px);
            }
            .next::after {
              margin-left: 6px;
              font-size: 16px;
              @include square2(30px);
            }
          }
          .title {
            font-size: 15px;
          }
          &__recent li {
            font-size: 13px;
            line-height: 1.4;
            margin-bottom: 8px;
            &::before {
              margin-right:8px;
            }
          }
        }
        .blog-comment {
          .title {
            font-size: 15px;
            margin-bottom: 5px;
          }
          &__content {
            justify-content: space-around;
            padding-bottom: 10px;
            .profile-img {
              @include square(60px);
            }
            .user-name {
              padding-left:0px;
            }
            strong {
              font-size: 12px;
              line-height: 1.4;
            }
            a {
              font-size: 12px;

            }
            p {
              font-size: 13px;
              line-height: 1.3;
            }
          }
          .reply {
            padding-left: 40px;
            margin-top: 20px;
          }
        }
        .blog-inner__form {
          margin-top: 20px;
          margin-bottom: 10px;
          .title {
            font-size: 15px;
          }
          form {
            margin-top: 15px;
          }
          input[type="email"],
          input[type="text"] {
            height: 35px;
            margin-bottom: 15px;
            font-size: 12px;
          }
          textarea {
            padding-left: 10px;
            padding-top: 8px;
            height: 145px;
            margin-bottom: 15px;
            font-size: 12px;
          }
          .elem-flex{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            input[type="checkbox"] {
              @include square(18px);
              &::before {
                font-size: 12px;
              }
            }
            label {
              font-size: 12px;
              line-height: 1.4;
            }
            button {
              font-size: 13px;
              line-height: 1.5;
              padding: 4px 30px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 450px) {
  .blog-section {
    .blog-item {
      &__content {
        .blog-inner__share {
          padding-top: 20px;
          fieldset {
            padding: 10px 0;
            ul {
              display: flex;
              flex-direction: column;
            }
          }
          legend {
            font-size: 14px;
            padding: 0 15px;
          }
          ul li {
            font-size: 11px;
            margin-top: 5px;
          }
        }
        .blog-inner__form {
          margin-top: 20px;
          margin-bottom: 10px;
          form {
            margin-top: 15px;
          }
          textarea {
            padding-left: 10px;
            padding-top: 8px;
            height: 110px;
            margin-bottom: 10px;
            font-size: 12px;
          }
          button {
            font-size: 13px;
            line-height: 1.5;
            padding: 4px 20px;
          }
        }
      }
    }
  }
}
