.blog-item__content {
  .inner-title {
    margin-bottom: 10px;
  }
  .inner-social {
    margin-top: 0;
    margin-bottom: 32px;
  }
}
.blog-inner__content {
  margin-top: 27px;
  & p {
    font-size: 13px;
    line-height: 1.846;
    color: $color7;
    text-align: justify;
    font-weight: 600;
    &:nth-child(2) {
      margin-top: 25px;
      margin-bottom: 32px;
    }
    &:nth-child(7) {
      margin-top: 24px;
      margin-bottom: 78px;
    }
  }
  & h3 {
    font-size: 24px;
    line-height: 1.667;
    color: $color7;
    margin-bottom: 15px;
  }
  &__img {
    height: 199px;
    overflow: hidden;
    border-radius: 3px;
    margin-top: 32px;
    margin-bottom: 38px;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  & blockquote {
    font-size: 18px;
    font-family: "Cambria";
    font-style: italic;
    line-height: 1.5;
    color: #545b69;
    position: relative;
    padding-left: 38px;
    &::before {
      content: "\f10d";
      font-family: "FontAwesome";
      font-size: 20px;
      position: absolute;
      top: -18px;
      left: 0;
    }
    & + p {
      text-align: right;
      font-size: 14px;
      margin-top: 12px;
    }
  }
}
.blog-inner__share {
  padding-top: 94px;
  & fieldset {
    padding: 34px 200px;
    border: 1px groove #ddd;
    & legend {
      text-align: center;
      font-size: 23px;
      color: $color7;
    }
    & ul li {
      display: inline-block;
      font-size: 13px;
      & a {
        display: block;
        padding: 2px 3px;
        border: 1px solid $color11;
        font-size: 13px;
        background-color: #e5e5e5;
        border-radius: 3px;
        & i {
          margin-right: 2px;
        }
      }
      &:first-child i {
        color: $color1;
      }
      &:nth-child(3)i {
        color: $colorFace;
      }
      &:nth-child(5)i {
        color: $colorGoogle;
      }
      &:nth-child(1) {
        font-weight: bold;
      }
      &:nth-child(3) {
        margin-left: 30px;
        color: $colorFace;
      }
      &:nth-child(4) {
        margin-right: 30px;
      }
    }
  }
}
.inner-post {
  &__pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 55px;
    margin-bottom: 52px;
    .post a {
      display: inline-block;
      @include pagination(49px);
      @extend %message-shared;
      &:hover {
        background-color: $color4;
        color: white;
      }
    }
    & span {
      @include post(14px);
    }
  }
  &__recent {
    & li {
      font-size: 14px;
      color: $color7;
      line-height: 2.571;
      margin-left: 8px;
      display: flex;
      align-items: center;
      &::before {
        content: "";
        display: block;
        @include list(6px);
        margin-right: 20px;
      }
    }
  }
}
.blog-comment {
  & h2 {
    margin-top: 37px;
    margin-bottom: 35px;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:nth-child(2) {
      margin-bottom: 34px;
    }
    &:nth-child(3) {
      border-top: 1px solid $color11;
      border-bottom: 1px solid $color11;
      padding-top: 24px;
      padding-bottom: 37px;
    }
    &:nth-child(4) {
      padding-left: 114px;
      margin-top: 40px;
    }
    & .profile-img {
      width: 93px;
      overflow: hidden;
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    & .user-name {
      width: calc(100% - 93px);
      padding-left: 30px;
      & strong {
        display: inline-block;
        font-size: 14px;
        color: $color7;
        line-height: 2.571;
        margin-bottom: 7px;
        margin-right: 14px;
      }
      & a {
        font-size: 14px;
        color: $color8;
      }
      & p {
        font-size: 14px;
        color: $color4;
        line-height: 1.714;
      }
    }
  }
}
.blog-inner__form{
  margin-top: 70px;
  margin-bottom: 34px;
  & h2{
    margin-bottom:15px;
  }
  & input[type=text],[type=email]{
    height:47px;
    @include inner-form;
    margin-bottom: 25px;
  }
  & textarea{
    @include inner-form;
    height: 218px;
    width: 100%;
    resize: none;
    box-shadow: 0 0 5px 0 #a88fd8;
    margin-bottom: 31px;
  }
  & input[type=checkbox]{
    width:2rem;
    height: 2rem;
    margin-right: 15px;
  }
  & label{
    font-size: 14px;
    line-height: 2.571;
    color: $color4;
  }
  & button{
    float: right;
    @include inner-button;
    @extend %message-shared;
    &:hover{
      background-color: $color2;
    }
  }
  & .form-flex{
    display: flex;
    align-items: center;
  }
}
