@mixin absolute($top: null, $right: null, $bottom: null, $left: null) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin square($value) {
  width: $value;
  height: $value;
}

@mixin fit($value: cover) {
  object-fit: $value;
  -moz-object-fit: $value;
  -webkit-object-fit: $value;
}
@mixin coverImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@mixin title {
  font-size: 26px;
  color: $color7;
  line-height: 0.769;
  font-weight: 400;
}
@mixin social($value) {
  width: $value;
  height: $value;
  line-height: $value;
  text-align: center;
  transition: all 0.2s ease;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}
%transition {
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
@mixin flex() {
  display: flex;
}
@mixin list($value) {
  width: $value;
  height: $value;
  border-radius: 50%;
  background-color: $color1;
}

@mixin flex-ai-center {
  @include flex();
  align-items: center;
}
@mixin flex-js-between{
  @include flex();
  justify-content: space-between
}
@mixin flex-js-center {
  @include flex();
  justify-content: center;
}

@mixin flex-center {
  @include flex-js-center();
  @include flex-ai-center();
}

@mixin pagination-post($value) {
  width: $value;
  height: $value;
  display: inline-block;
  text-align: center;
  line-height: 49px;
  font-size: 23px;
  border-radius: 50%;
  background-color: rgb(246, 250, 251);
  @extend %transition;
  color: rgb(186, 186, 186);
}
@mixin pagination($value) {
  width: $value;
  height: $value;
  line-height: $value;
  border-radius: 50%;
  background-color: rgb(246, 250, 251);
  text-align: center;
  font-size: 23px;
  color: rgb(186, 186, 186);
}
@mixin inner-form {
  outline: none;
  padding-left: 14px;
  border-radius: 3px;
  border: 1px solid $color11;
}
@mixin inner-button {
  font-size: 16px;
  line-height: 1.5;
  color: white;
  background-color: $color1;
  padding: 10px 66px;
  border-radius: 3px;
}
@mixin blog-item-info {
  width: 71px;
  height: 103px;
  border-radius: 3px;
  background-color: $color1;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  margin-right: 30px;
}
@mixin blog-content__social {
  border-top: 1px solid $color9;
  border-bottom: 1px solid $color9;
  padding: 8px 0;
  margin-top: 26px;
}
