 // variables 
 $color1: #27ae60;
 $color2: #239754;
 $color3: #03862f;
 $color4: #ffe84f;
 $color5: #fdc536;
 $color6: #f5f5f5;
 $color7: #959595;
 $color8: rgb(111, 111, 111);
 $color9: rgb(177, 177, 177);
 $color10: #e2e2e2;
 $color11: #eaeaea;
 $color12: #dbdbdb;
 $color13:#585858; 
    
   