 // variables 
 $color1: #49cbcd;
 $color2: #545860;
 $color3: #f1f1f1;
 $color4: #485460;
 $color5: #abafb4;
 $color6:#ab9ac9;
 $color7:#414a5a;
 $color8:#a88fd8;
 $color9:#e9e9e9;
 $color10:#f8f9fb;
 $color11:#dde0e5;

  

    
   