 // colors 
 $color1: #49cbcd;
 $color2: #545860;
 $color3: #f1f1f1;
 $color4: #485460;
 $color5: #abafb4;
 $color6:#ab9ac9;
 $color7:#414a5a;
 $color8:#a88fd8;
 $color9:#e9e9e9;
 $color10:#f8f9fb;
 $color11:#dde0e5;
 $colorFace:#3b5997;
 $colorTwit:#3ec2f3;
 $colorGoogle:#e44c41;
 $socialGoogle:#e44c41;
//social network colors
 $color:#a88fd8;
 $dark_gray: #181818;

  

    
   