
// .button-success {
//     width:100%;
//     color: #fff;
//     padding: 18px 30px;
//     border-radius: 3px;
//     background-color: $color1;
//     &:hover {
//         background-color: $color2;
//     }
// }