// a.link-success {
//     color: #fff;
//     padding: 10px 30px;
//     border-radius: 3px;
//     background-color: $color1;
//     &:hover {
//         background-color: $color2;
//     }
// }

// a.link-warning {
//     color: #000000;
//     border-radius: 3px;
//     padding: 10px 30px;
//     background-color: $color5;
//     &:hover {
//         background-color: $color4;
//     }
// }

// a.link-warning-light {
//     color: #000000;
//     font-size: 12px;
//     font-weight: 600;
//     border-radius: 3px;
//     padding: 10px 33px;
//     background-color: $color4;
//     &:hover {
//         background-color: $color5;
//     }
// }

// a.link-mobile {
//     display: block;
//     color: #fff;
//     padding: 10px 20px;
//     border-radius: 3px;
//     background-color: $color2;
// }
