<!-- blog-section start  -->
    <div class="blog-item">
        <div class="blog-info">
            <div class="blog-info-text">
                <h4>22</h4>
                <span>Sep</span>
                <span>2013</span>
            </div>
        </div>
        <div class="blog-content">
            <div class="blog-paragraf">
                <p>Lorem Ipsum is simply dummy text of the printing .</p>
            </div>
            <div class="blog-content-text">
                <div class="blog-img">
                    <img src="../assets/img/Layer32.png" alt="layer32">
                </div>
                <div class="blog-text">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged. It was
                        popularised in the.</p>
                    <p>1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                        desktop publishing</p>
                        <a href="#">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="blog-social">
                <div class="blog-social-list">
                    <ul>
                        <li>By <a href="#">Read More</a></li>
                        <li><a href="#">126 comments</a></li>
                        <li><a href="#">Tags : Design, Creative, Wordpress theme</a></li>
                        <li><a href="#">Share</a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
