<!DOCTYPE html>
<html lang="az">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="../assets/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="assets/css/plugins.min.css">
    <link rel="stylesheet" href="assets/css/style.min.css">
    <title>Agency</title>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/az_AZ/sdk.js#xfbml=1&version=v11.0"
        nonce="Scvub36G"></script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <a href="../index.html" class="logo">
                        <img src="../assets/img/logo.png" alt="logo">
                    </a>
                </div>
                <div class="offset-4"></div>
                <div class="col-6">
                    <ul class="menu">
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="#services">Service</a></li>
                        <li><a href="#portfolio">Portfolio</a></li>
                        <li><a href="#team">Team</a></li>
                        <li><a href="../blog.html">Blog</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>



    <!-- mobile menu start -->

    <!-- mobile menu end -->