body {
    background-color: rgb(73, 203, 205)
}

.The_Team {
    font-size: 42px;
    font-family: "Open Sans";
    color: rgb(78, 82, 93);
    line-height: 0.571;
    text-align: left;
  }

  .container {
      width: 1200px;
      background-color: red;
      margin: 0 auto;
      height: 500px;
  }
  