.blog-section {
  padding-top: 75px;
  & .blog-item {
    @include flex();
    padding-right: 40px;
    margin-bottom: 80px;
  }
  & .blog-item__info {
    @include blog-item-info;
    & h4 {
      font-weight: bold;
      margin-bottom: 3px;
      font-size: 30px;
    }
    & span {
      margin-bottom: 5px;
    }
  }
  & .blog-item__content {
    margin-top: 6px;
    width: calc(100% - 71px);
    & h2 {
      font-family: "Roboto";
      font-size: 26px;
      margin-bottom: 18px;
      color: $color7;
    }
    &__img {
      width: 270px;
      height: 235px;
      overflow: hidden;
      margin-right: 25px;
      & img {
        @include coverImage;
      }
    }
    &__flex {
      @include flex-js-between;
    }
    &__text {
      width: calc(100% - 270px);
      & p {
        font-size: 13px;
        line-height: 1.846;
        color: $color2;
        font-weight: 600;
        text-align: justify;
      }
      & p:first-child {
        margin-bottom: 20px;
      }
      & a {
        font-size: 14px;
        color: $color4;
        line-height: 1.714;
        display: inline-block;
        margin-top: 6px;
      }
    }
  }
  & .blog-content__social {
    @include blog-content__social;
    & ul {
      margin-left: 5px;
      & li {
        display: inline-block;
        & a {
          font-size: 15px;
          line-height: 1.6;
        }
        &:nth-child(1)a {
          color: $color8;
          margin-right: 28px;
        }
        &:nth-child(2) {
          color: $color8;
          margin-right: 30px;
        }
        &:nth-child(3) {
          color: $color2;
          margin-right: 27px;
        }
        &:nth-child(4) {
          color: $color2;
          margin-right: 17px;
        }
        &:nth-child(5) {
          margin-right: 10px;
        }
      }
    }
    & ul li a i {
      font-size: 24px;
      color: $color11;
      @extend %transition;
    }
    & ul li:nth-child(5) a:hover i {
      color: $color1;
    }
    & ul li:nth-child(6) a:hover i {
      color: #3b5997;
    }
  }
}

// Responsive----------------------

@media only screen and (max-width: 1199px) {
  .blog-section {
    .blog-item__content h2 {
      font-size: 24px;
    }
    .blog-item__content__text p {
      font-size: 12px;
      line-height: 1.4;
    }
    .blog-item__content__text p:first-child {
      margin-bottom: 10px;
    }
    .blog-content__social ul li a {
      font-size: 12px;
      line-height: 1;
    }
    .blog-content__social ul li {
      font-size: 14px;
    }
    .blog-content__social ul li:nth-child(1) a {
      margin-right: 10px;
    }
    .blog-content__social ul li:nth-child(2) {
      margin-right: 10px;
    }
    .blog-content__social ul li:nth-child(3) {
      margin-right: 10px;
    }
    .blog-content__social ul li a i {
      font-size: 18px;
    }
  }
}

@media only screen and (max-width: 991px) {
  .blog-section {
    padding-top: 50px;
    .blog-item {
      margin-bottom: 40px;
    }
    .blog-item__content h2 {
      font-size: 20px;
    }
    .blog-item__content__flex {
      display: flex;
      flex-direction: column;
    }
    .blog-item__content__img {
      width: 100%;
      margin-bottom: 15px;
    }
    .blog-item__content__text {
      width: 100%;
    }
    .blog-content__social {
      margin-top: 10px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .blog-section {
    padding-top: 25px;
    .blog-item__content h2 {
      font-size: 16px;
    }
    .blog-item__info{
      height:90px;
      padding: 12px 0;
      & h4{
        font-size: 24px;
      }
      & span{
        font-size: 14px;
      }
    }
  }
  .col-md-3{
    text-align: center !important;
  }
}

@media only screen and (max-width: 550px) {
}
