/* blog-section start */
.blog-section{
    padding-top: 98px;
}
.blog-item{
   display: flex;
   margin-bottom: 80px;
   padding-right: 20px;
}
.blog-content{
   margin-left: 30px;
   margin-top: 10px;
}
.blog-info-text{
    width: 72px;
    height: 105px;
    background-color:$color1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
}
.blog-info-text h4{
    font-size: 30px;
    margin-bottom:5px;
    font-family:"OpenSans";
}
.blog-info-text span{
    margin-bottom: 5px;
    font-family:"OpenSans";
}
.blog-img{
    width: 270px;
    height: 235px;
    margin-right: 28px;
}
.blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blog-paragraf p{
    font-family:"Roboto";
    font-weight:bold;
    font-size: 26px;
    line-height: 0.667;
    margin-bottom: 26px;
}
.blog-content-text{
   display: flex;
}
.blog-text{
    width: 63%;
}
.blog-text p{
    font-size: 13px;
    font-family:"OpenSans";
    line-height: 1.846;
    color:$color2;
    font-weight: 600;
}
.blog-text p:first-child{
    margin-bottom: 30px;
}
.blog-text a{
    font-size: 14px;
    font-family:"OpenSans";
    line-height: 1.714;
    color: $color4;
    transition: all .7s ease;
}
.blog-text a:hover,.blog-social-list ul li a:hover{
    color: $color6;
}
.blog-social{
    margin-top: 26px;
}
.blog-social-list{
    border-top: 1px solid $color9;
    border-bottom: 1px solid $color9;
    padding: 8px 0;
}
.blog-social-list ul li{
    display: inline-block;
}
.blog-social-list ul li a{
    font-size: 15px;
    color: $color4;
    transition: all .3s ease;
    font-family:"OpenSans";
    font-weight: 400;
}
.blog-social-list ul li:first-child{
    margin-right: 35px;
}
.blog-social-list ul li:nth-child(2){
    margin-right: 35px;
}
.blog-social-list ul li:nth-child(3){
    margin-right: 50px;
}
.blog-social-list ul li:nth-child(4){
    margin-right: 20px;
}
.blog-social-list ul li:nth-child(5){
    margin-right: 15px;
}
.blog-social-list ul li a i{
    font-size: 22px;
}



  