header {
    padding: 30px 0;
    .logo {
        width: 120px;
        height: 37px;
        display: block;
        img {
            font-size: 43px;
            font-family: "Lobster-Regular";
            font-weight: 400;
            color: $color1;
            line-height: 0.558;
        }
    }
    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        li {
            a {
                font-size: 15px;
                font-family: "OpenSans";
                font-weight: 400;
                color: $color2;
                line-height: 1.6;
                padding: 32px 27px 42px;
                border-bottom: 3px solid transparent;
                transition: 0.3s;
                &:hover {
                    color: $color1;
                    border-bottom: 3px solid $color1;
                    background-color: $color3;
                }
            }
            &:first-of-type a {
                margin-left: -15px;
            }
            &:last-of-type a {
                margin-right: -15px;
            }
        }
    }
}
